@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }


  /* Shared Styles */

  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
.text-primary{
    color: #FF900E;
}
  .display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    color: rgba(255, 255, 255, 1);
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    /* margin-bottom: 50px; */
    opacity: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.2rem;
    font-weight:600px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}
/* Shared color and fonts styles  */

.dark-2{
    color: rgba(66, 66, 66, 1);
    /* font-weight: 500;
    font-size: 18px; */
}

.dark-3{
    color: rgba(114, 114, 114, 1);
}

.dark-1{
    color: rgba(19, 19, 19, 1);
}


  /* Header styles */







  /* Navbar Related styles */
  .brand{
    font-weight: bold;
    font-size:2.8rem;
  }
  .navbar{
      justify-content: space-between;
      align-items: center;
  }

  .nav-links{
    
  }
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    /* margin-right: 30px; */
}


.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style */

.banner-content{
   max-width: 850px;
   margin: 0 auto;
   margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size:4rem ;
}

.banner-image{
    width: 100%;
}

/* Team and features related styles */
/* main{
    max-width: 1450px;
} */
.teams{
    align-items: center;
    gap: 70px;
}
.team-img-container{
    display: grid; 
     grid-template-columns: repeat(2, 1fr);
     gap: 24px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.features{
    color: rgba(255, 144, 14, 1);
}

#quick-list{
    font-weight: 500;
}

.our-features{
    max-width: 540px;
}

.team-img-container > img{
    width: 100%;
}
/* Features love and enjoy */
.features-enjoy{
    gap: 100px;
}
/* .features-enjoy > img{
    width: 100%;
} */
#feattures-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#expericence-bagge{
    width: 350px;
    height: 200px;
    padding: 45px 42px;
    font-weight: 500;
    font-size: 1.5rem; 
    margin-left: -100px;
    margin-top:-100px;
}
#expericence-year{
    font-size: 4rem;
    font-weight: 700;
}
.features-card{
    box-shadow: 0 4px 30px 0;
    color:rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom:20px ;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.features-card .features-card-title{
    font-size:1.25rem ;
    font-weight: 600px;
   
}

.features-architect img{
    width: 100%;
}

/* facts Related style */

.facts-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 125px;
}
.fact{
    width: 240px;
    height: 240px;
    border:2px solid #FF900E;
    /* text-align: center; */
    padding: 45px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size:1.3rem;
    font-weight: 600;
    margin-top: 10px;

}

.fact-description{
    max-width: 540px;
}


/* sponsor realted styles */
.sponsor-img-icons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;

}
.sponsor-img-icons  img {
     
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
}
      

.sponsor-content{
    max-width:550px ;
    margin: 50px auto;
    text-align: center;
    /* margin-bottom:50px ; */
}


/* Responsive media query */
@media screen and (max-width:576px) 
{
         .navbar , 
         .nav-links , 
         .teams,
         .features-enjoy {
            flex-direction: column;
         }

         .team-img-container,
         .facts-container,
         .sponsor-img-icons{
            grid-template-columns: repeat(1, 1fr);
         }
         .teams{
            gap: 20px;
         }
      .facts-container,
      .sponsor-img-icons{
        justify-items: center;
      }

      #expericence-bagge{
        margin-top: 20px;
        margin-left: 20px;
      }
         
         
}


/* Medium size device */
@media screen and (min-width:577px) and (max-width:992px) {

    .teams,
    .features-enjoy{
        flex-direction:column;
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsor-img-icons,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #expericence-bagge{
        margin-left: 10px;
        margin-top: 10px;
    }
    
}
